<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link" href="users-profile.html">
        <i class="bi bi-upload"></i>
        <span>Deposit</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="pages-faq.html">
        <i class="bi bi-download"></i>
        <span>Withdrawal</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="pages-contact.html">
        <i class="bi bi-box-seam"></i>
        <span>Tading Plan</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="pages-register.html">
        <i class="bi bi-card-list"></i>
        <span>Transactions</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="pages-login.html"><i class="bi bi-person-add"></i> <span>Referals</span></a>
    </li>
    <!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="pages-error-404.html"><i class="bi bi-question"></i> <span>Help</span></a>
    </li>
    <!-- End Error 404 Page Nav -->
  </ul>
</aside>
<!-- End Sidebar -->
