<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard_home' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link" href="{% url 'deposit' %}">
        <i class="bi bi-upload"></i>
        <span>Deposit</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="{% url 'withdraw' %}">
        <i class="bi bi-download"></i>
        <span>Withdrawal</span>
      </a>
    </li>
    <!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="{% url 'investment' %}">
        <i class="bi bi-box-seam"></i>
        <span>Trading Plan</span>
      </a>
    </li>
    <!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="{% url 'transactions' %}">
        <i class="bi bi-card-list"></i>
        <span>Transactions</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="#"><i class="bi bi-person-add"></i> <span>Referals Coming Soon..</span></a>
    </li>
    <!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link" href="{% url 'contact' %}"><i class="bi bi-question"></i> <span>Help</span></a>
    </li>
    <!-- End Error 404 Page Nav -->
  </ul>
</aside>
<!-- End Sidebar -->
