{% extends 'dashboard/core/dashboard-base.html' %}

{% block dashboard_content %}
  <main id="main" class="main">
    <div class="d-flex align-items-center justify-content-center flex-column m-4">
      <h5>Get started with your investment.</h5>
      <p>An investment has never been easy but with Umargins, we have made it simple with mega returns</p>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="card p-3">
          <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="form-label">Investment Plan</label>
              <select id="plan" name="plan" class="p-3 w-100" aria-label="Default select example">
                <option class="text-[#252525]" selected>Select plan</option>
                {% for plan in plans %}
                  <option value="{{ plan.key }}">{{ plan.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="form-label">Enter Amount</label>
              <input id="amount" name="amount" type="number" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="form-label">Choose asset</label>
              <select id="asset" name="asset" class="p-3 w-100" aria-label="Default select example">
                <option class="text-[#252525]" selected>Select asset</option>
                <option value="BTC">Bitcoin</option>
                <option value="ETH">Ethereum</option>
                <option value="USDT">USDT</option>
                <option value="LTC">Litecoin</option>
                <option value="USDC">USDC</option>
                <option value="DOGE">Dogecoin</option>
              </select>
            </div>

            <div class="p-3">
              <button type="submit" class="btn btn-primary">Confirm & Invest</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
