{% extends 'dashboard/core/dashboard-base.html' %}

{% block dashboard_content %}
  <main id="main" class="main">
    <h6 class="mt-4">TRANSACTIONS</h6>
    <div class="card">
      <div class="card-body">
        <!-- Vertical Pills Tabs -->
        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Deposit</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Withdraw</button>
          </div>
          <div class="tab-content w-100" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <table class="table datatable w-100">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Payment method</th>
                    <th>Status</th>
                    <th data-type="date" data-format="YYYY/DD/MM">Date in</th>
                  </tr>
                </thead>
                <tbody>
                  {% for deposit in deposits %}
                    <tr>
                      <td>${{ deposit.amount }}</td>
                      <td>{{ deposit.get_asset_display }}</td>
                      <td>{{ deposit.get_status_display }}</td>
                      <td>{{ deposit.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <table class="table datatable w-100">
                <thead>
                  <tr>
                    <th>Amount</th>
                    <th>Payment method</th>
                    <th>Status</th>
                    <th data-type="date" data-format="YYYY/DD/MM">Date in</th>
                  </tr>
                </thead>
                <tbody>
                  {% for withdraw in withdrawals %}
                    <tr>
                      <td>${{ withdraw.amount }}</td>
                      <td>{{ withdraw.get_asset_display }}</td>
                      <td>{{ withdraw.get_status_display }}</td>
                      <td>{{ withdraw.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Vertical Pills Tabs -->
      </div>
    </div>
  </main>
{% endblock %}
