{% load static %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Wallet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <meta name="description" content="This is meta description" />
    <meta name="author" content="Themefisher" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %} " type="image/x-icon" />
    <link rel="icon" href=" {% static 'images/favicon.png' %} " type="image/x-icon" />

    <!-- theme meta -->
    <meta name="theme-name" content="wallet" />

    <!-- # Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- # CSS Plugins -->
    <link rel="stylesheet" href=" {% static 'plugins/slick/slick.css' %} " />
    <link rel="stylesheet" href=" {% static 'plugins/font-awesome/fontawesome.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'plugins/font-awesome/brands.css' %} " />
    <link rel="stylesheet" href=" {% static 'plugins/font-awesome/solid.css' %} " />

    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet" />
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet" />
    <link href="{% static 'assets/vendor/quill/quill.snow.css' %} " rel="stylesheet" />
    <link href="{% static 'assets/vendor/quill/quill.bubble.css' %} " rel="stylesheet" />
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %} " rel="stylesheet" />
    <link href="{% static 'assets/vendor/simple-datatables/style.css' %} " rel="stylesheet" />

    <link href="{% static 'assets/css/style.css' %} " rel="stylesheet" />

    <!-- # Main Style Sheet -->
    <link rel="stylesheet" href=" {% static 'css/style.css' %} " />
  </head>

  <body>
    {% block content %}
      This is the content block
    {% endblock %}
    <script src=" {% static 'plugins/jquery/jquery.min.js' %} "></script>
    <script src=" {% static 'plugins/bootstrap/bootstrap.min.js' %} "></script>
    <script src=" {% static 'plugins/slick/slick.min.js' %} "></script>
    <script src=" {% static 'plugins/scrollmenu/scrollmenu.min.js' %} "></script>
    <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %} "></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %} "></script>
    <script src="{% static 'assets/vendor/echarts/echarts.min.js' %} "></script>
    <script src="{% static 'assets/vendor/quill/quill.min.js' %} "></script>
    <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %} "></script>
    <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %} "></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %} "></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %} "></script>

    <!-- Main Script -->
    <script src=" {% static 'js/script.js' %} "></script>
    <!-- Start of Tawk.to Script -->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date()
      ;(function () {
        var s1 = document.createElement('script'),
          s0 = document.getElementsByTagName('script')[0]
        s1.async = true
        s1.src = 'https://embed.tawk.to/65f86f531ec1082f04d8ad31/1hp975o60'
        s1.charset = 'UTF-8'
        s1.setAttribute('crossorigin', '*')
        s0.parentNode.insertBefore(s1, s0)
      })()
    </script>
    <!-- End of Tawk.to Script -->
  </body>
</html>
